llama-index
pandas
matplotlib
seaborn
llama-index-llms-ollama
llama-index-tools-mcp
python-dotenv
uv
streamlit
playwright
beautifulsoup4
numpy
requests
llama-index-tools-yahoo-finance
transformers
torch
llama-index-tools-tavily-research
llama-index-llms-openai
textblob